header {
  margin: auto;
  text-align: center;
  background-color: rgb(244, 68, 68);
  color: white;
  padding: 10px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for vertical centering */
  background-color: rgb(246, 227, 223);
}

.main-section {
  width: 500px;
  height: 800px;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  display: flex; /* makes the div a flex container */
  flex-direction: column; /* stack children vertically */
  align-items: center; /* center horizontally */
  min-height: 600px; /* fill the viewport height */
  gap: 10px; /* optional: space between elements */
  text-align: center; /* center text inside h1 etc */
  background-color: rgb(250, 171, 171);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.input-box {
  padding: 8px;
  margin: 5px 0;
  width: 200px;
  box-sizing: border-box;
}

button {
  padding: 10px 40px;
  margin-top: 10px;
  cursor: pointer;
  background-color: orangered;
  border: 5px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.radio-input {
  margin: 0px;
}

td {
  max-width: 200px;
  border: 3px solid black;
  padding: 5px;
}

.info-box {
  background-color: antiquewhite;
  padding: 20px;
  padding-top: 10px;
  border: 10px solid orangered;
  font-size: 20px;
  text-align: left;
}
