<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
    <title>Heart diseases prediction app</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    </head>
    <body>
    <header>
      <h1>AI heart disease</h1>
    </header>
    <div class="main-section">
      <h1>Enter patient details:</h1>
      <form action="/submit" method="POST">
        <input
          type="text"
          name="age"
          class="input-box"
          placeholder="age"
          required
        />

        
          <label class="gender-input">
            <input type="radio" name="gender" value="male" required />
            <span>Male</span>
          </label>
          <label>
            <input type="radio" name="gender" value="female" required />
            <span>Female</span>
          </label>
        

        <input
          type="text"
          name="cp"
          class="input-box"
          placeholder="cp"
          required
        />
        <input
          type="text"
          name="trestbps"
          class="input-box"
          placeholder="trestbps"
          required
        />
        <input
          type="text"
          name="chol"
          class="input-box"
          placeholder="chol"
          required
        />
        <input
          type="text"
          name="fbs"
          class="input-box"
          placeholder="fbs"
          required
        />
        <input
          type="text"
          name="restecg"
          class="input-box"
          placeholder="restecg"
          required
        />
        <input
          type="text"
          name="thalach"
          class="input-box"
          placeholder="thalach"
          required
        />
        <input
          type="text"
          name="exang"
          class="input-box"
          placeholder="exang"
          required
        />
        <input
          type="text"
          name="oldpeak"
          class="input-box"
          placeholder="oldpeak"
          required
        />
        <input
          type="text"
          name="slope"
          class="input-box"
          placeholder="slope"
          required
        />
        <input
          type="text"
          name="ca"
          class="input-box"
          placeholder="ca"
          required
        />
        <input
          type="text"
          name="thal"
          class="input-box"
          placeholder="thal"
          required
        />
        <br>
        <button type="submit" >Submit</button>
    </div>
    </form>
  </body>
</html>   