<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
    <title>Flask Input Example</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    </head>
    <body>
    <h1>AI heart disease</h1>
    <div>
      <h1>Enter patient details:</h1>
      <form action="/submit" method="POST">
        <input
          type="text"
          name="age"
          class="cool-input"
          placeholder="age"
          required
        />
        <input
          type="text"
          name="gender"
          class="cool-input"
          placeholder="gender"
          required
        />
        <input
          type="text"
          name="cp"
          class="cool-input"
          placeholder="cp"
          required
        />
        <input
          type="text"
          name="trestbps"
          class="cool-input"
          placeholder="trestbps"
          required
        />
        <input
          type="text"
          name="chol"
          class="cool-input"
          placeholder="chol"
          required
        />
        <input
          type="text"
          name="fbs"
          class="cool-input"
          placeholder="fbs"
          required
        />
        <input
          type="text"
          name="restecg"
          class="cool-input"
          placeholder="restecg"
          required
        />
        <input
          type="text"
          name="thalach"
          class="cool-input"
          placeholder="thalach"
          required
        />
        <input
          type="text"
          name="exang"
          class="cool-input"
          placeholder="exang"
          required
        />
        <input
          type="text"
          name="oldpeak"
          class="cool-input"
          placeholder="oldpeak"
          required
        />
        <input
          type="text"
          name="slope"
          class="cool-input"
          placeholder="slope"
          required
        />
        <input
          type="text"
          name="ca"
          class="cool-input"
          placeholder="ca"
          required
        />
        <input
          type="text"
          name="thal"
          class="cool-input"
          placeholder="thal"
          required
        />
        <button type="submit" >Submit</button>
    </div>
    </form>
  </body>
</html>   